{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% if settings.home_section_1 != blank %}
  {% include settings.home_section_1 %}
{% endif %}

{% if settings.home_section_2 != blank %}
  {% unless settings.home_section_1 == 'slider' %}
    <hr>
  {% endunless %}
  {% include settings.home_section_2 %}
{% endif %}


{% assign slider_enabled = true %}

<!-- <div class="homepage-slider grid--full">
  <ul class="homepage-slider__slides owl-carousel grid-item one-whole">
    {% for i in (1..6) %}
      {% capture slide %}slide_{{ i }}{% endcapture %}
      {% capture slide_link %}slide_{{ i }}_link{% endcapture %}
      {% capture slide_img %}slide_{{ i }}.jpg{% endcapture %}
      {% capture slide_alt %}slide_{{ i }}_alt.jpg{% endcapture %}
      {% if settings[slide] %}
        <li>
          {% unless settings[slide_link] == blank %}
          <a href="{{ settings[slide_link] }}" class="slide-link">
            {{ slide_img | asset_url | img_tag: slide_alt }}
          </a>
          {% else %}
            {{ slide_img | asset_url | img_tag: slide_alt }}
          {% endunless %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div> -->

<figure id="carousel" class="carousel-container">
	<button data-dir="-1"></button>
    <button data-dir="1"></button>

    <ul>
      <li class="is-active first-slide"><img src="https://cdn.shopify.com/s/files/1/1226/1372/files/testingImage2.jpg?7036684616051553248"></li>
      <li class="second-slide"><img src="https://cdn.shopify.com/s/files/1/1226/1372/files/testImage1.jpg?7036684616051553248"></li>
      <li class="third-slide"><img src="https://cdn.shopify.com/s/files/1/1226/1372/files/testImage1.jpg?7036684616051553248"></li>
    </ul>
  </div>
</figure>

<div class="homepage-blurb">
	<span class="first title">"Healing is a matter of time, but it is also a matter of opportunity."</span>
	<span class="second">Traditional Chinese soups are not only tasty, but also good for the health and soul. With a Nivita soup pack, you can have a tasty bowl of soup that you can make with ease and from the comfort of your own home.</span>
	<span class="third">Order your first pack today!</span>
</div>

<div class="steps-container">
  <span class="title">How this works</span>
  <div>
    <div class="step">
      <div class="icon"><img src="//cdn.shopify.com/s/files/1/1226/1372/files/noun_101939_cc.svg?12212136980442819365" alt="icon-checkout" style="width:100%;"></div>
      <div class="text">Order soup ingredients</div>
    </div>
    <div class="step">
      <div class="icon"><img src="//cdn.shopify.com/s/files/1/1226/1372/files/noun_105053_cc.svg?12212136980442819365" alt="icon-cook" style="width:100%;"></div>
      <div class="text">Boil with water</div>
    </div>
    <div class="step">
      <div class="icon"><img src="//cdn.shopify.com/s/files/1/1226/1372/files/noun_101314_cc.svg?6013501841806421028" alt="icon-soup" style="width:100%;"></div>
      <div class="text">Kick back and enjoy</div>
    </div>
  </div>
</div>

{% if settings.home_section_3 != blank %}
  <hr>
  {% include settings.home_section_3 %}
{% endif %}

{% if settings.home_section_4 != blank %}
  <hr>
  {% include settings.home_section_4 %}
{% endif %}
